DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=noticiapty

SECRET_KEY=change-this-to-a-random-secret
ACCESS_TOKEN_EXPIRED_MINUTES=60
REFRESH_TOKEN_EXPIRED_MINUTES=1440
ALGORITHM=HS256
VALID_ROL=admin,supervisor,editor,global

cors_origins=*

UPLOAD_DIR=static/imagenesdb
